* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial;
    background-image: url('backgroundsti2.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.bigbox {
    width: 700px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}

.yellowtop {
    position: relative;
    background: yellow;
    padding: 10px;
    height: 40px;
}

.logo {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 80px;
}

.form {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* PARA SEMI TRANSPARENT YUNG BG, SO AMAZING*/
}

.heading {
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.question {
    margin-bottom: 10px;
}

.question label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}

.row {
    width: 100%;
    overflow: hidden;
}

.row input {
    float: left;
    margin-right: 8px;
    width: 300px;
}

.row.three input {
    width: 200px;
}

input {
    border-radius: 8px;
    padding: 6px;
    border: 1px solid #666;
    font-size: 11px;
    font-family: Arial;
    width: 80%;
    box-sizing: border-box;
}

.sendbutton, .deletebutton {
    display: inline-block;
    background: #005EB8;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.sendbutton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.deletebutton {
    padding: 3px 6px;
    margin: 2px;
    font-size: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #333;
    /* PARA HINDI LUMABAS SA LOOB NG TABLE YUNG MGA TEXTS, KASALANAN MO 'TO SALUNGA*/
    table-layout: fixed;
}

table th, table td {
    padding: 6px;
    font-size: 12px;
    border: 1px solid #333;
    /* PARA HINDI LUMABAS SA LOOB NG TABLE YUNG MGA TEXTS, KASALANAN MO 'TO SALUNGA*/
    word-wrap: break-word;
    overflow-wrap: break-word;
}

footer {
    text-align: center;
}
